body {
	font-family: "Bebas Neue Regular";
}

p, h1, h2, h3, h4, h5, h6 {
	cursor: default;
}


header {
	min-height: 668px;
	background-image: url(../img/top-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
}

.top_line {
	min-height: 97px;
	max-width: 1680px;
	background-color: rgba(0, 0, 0, .86);
	margin: 0 auto;	
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.top_piece {
	min-height: 97px;
	background-image: url(../img/top_piece.png);
	background-position: top center;
	background-repeat: no-repeat;
}

/* top address */

.top_addr {
	height: 52px;
	background-image: url(../img/map_pointer.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 47px;
	line-height: 26px;
	margin-top: 24px;
}

.top_addr strong {
	color: #d12f22;
	font-size: 32px;
	font-weight: bold;
	
	display: block;
	text-transform: uppercase;
}

.top_addr a {
	color: #fff;
	font-size: 22px;
	text-decoration: underline;
}

.top_addr a:hover {
	text-decoration: none;
}

/* logo */

.logo {
	position: absolute;
	top: 15px;	
}

.logo a {
	display: block;
    width: 164px;
    height: 136px;
}

/* phone */

.phone {
	text-align: right;
	margin-top: 24px;
	line-height: 26px;
}

.phone_number {
	font-size: 32px;
}

.phone_number strong {
	color: #d12f22;
	font-weight: bold;
}

.phone_number span {
	color: #fff;
}

.phone a {
	font-size: 22px;
	color: #fff;
	text-decoration: underline;
}

.phone a:hover {
	text-decoration: none;
	-webkit-transition: all .75s;
	-o-transition: all .75s;
	transition: all .75s;
}

h1 {
    color: #fff;
    text-shadow: 0 2px rgba(0, 0, 0, 0.55);
    font-size: 42px;
    font-weight: bold;
    line-height: 31px;
    margin-top: 83px;
    padding-left: 5px;
}

.button_photo, .button_price {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	background-color: #d12f22;
	display: inline-block;
	border-bottom: 4px solid #ac160a;
}

.button_photo {
	line-height: 18px;
	padding: 11px 31px 6px 69px;	
	width: 240px;
	background-image: url(../img/cam_icon.png);
	background-repeat: no-repeat;
	background-position: 13px 10px;
	margin-right: 21px;
}

.button_price {
	line-height: 17.39px;
	padding: 22px 30px 14px 25px;
	margin-left: -24px;
}

.button_price:hover, .button_photo:hover {
	color: #fff;
}

.top_buttons {
	position: absolute;
	width: 100%;
	bottom: 33px;
}

.small_bottom_line {
	position: absolute;
	bottom: 0px;
	height: 1px;
	width: 100%;
	background-color: rgb(255, 255, 255, .18);
}

/* navigation bar */

.bot_line {
	height: 69px;
	max-width: 1680px;
	margin: 0 auto; 
	background-color: rgba(0, 0, 0, .86);
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.nav_flex {
	display: flex;
	flex-direction: row;
}

.nav_bar{
	display: flex;
	flex-direction: row;
}

.nav_bar li a {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	color: #fff;
	letter-spacing: 1.2px;
}

.nav_bar li {
	display: block;
	padding: 26px 27px 21px 50px;
	border-left: 1px solid #3b3b3b;
	background-repeat: no-repeat;
}

.nav_bar li:hover {
	background-color: #000;
	cursor: pointer;
}

.nav_bar li a:hover {
	text-decoration: none;
}

.nav_bar li:hover, .nav_bar li:hover + li {
	border-left: 1px solid #000;
}

.nav_bar li:nth-child(1) {
	background-image: url(../img/home_icon.png);
	background-position: 18px 24px;
}

.nav_bar li:nth-child(2) {
	background-image: url(../img/about_icon.png);
	background-position: 17px 26px;
	padding-left: 47px;
}

.nav_bar li:nth-child(3) {
	background-image: url(../img/prices_icon.png);
	background-position: 27px 27px;
	padding-left: 51px;
}

.nav_bar li:nth-child(4) {
	background-image: url(../img/jobs_icon.png);
	background-position: 18px 26px;
	padding-left: 51px;
}

.nav_bar li:nth-child(5) {
	background-image: url(../img/partners_icon.png);
	background-position: 22px 28px;
	padding-left: 54px;
}

.nav_bar li:nth-child(6) {
	background-image: url(../img/contacts_icon.png);
	background-position: 22px 23px;
	padding-left: 48px;
}

/* warranty */

.warranty {
	display: flex;
	flex-direction: row;
	color: #fff;
	border: 3px solid #ffffff;
	border-radius: 3px;
	margin: 12px 0 0 40px;
	width: 175px;
    height: 47px;
    cursor: default;
}

.w_left {
	font-family: "Bebas Neue Regular";
	font-size: 20px;
	font-weight: bold;
	line-height: 20.32px;	
	padding: 13px 0px 10px 5px;
}

.num_year {
	font-size: 33px;
	
}

.year {
	padding-left: 5px;
}

.w_right {
	font-family: "Roboto Condensed";
	font-size: 15px;
	line-height: 16.93px;
	text-transform: uppercase;
	padding: 5px 0 0 12px;
	display: flex;
	flex-direction: column;
}

/* services */
.services {
	height: 590px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	background-color: #1a1a1a;
	padding: 71px 11px 0 0;
	position: relative;
}

.services .container {
	padding-right: 0;
}

.services .container .row .col:first-child {
	padding-left: 0px;
}

.services h2 {
	color: #c9c9c9;
	font-size: 40px;
	font-weight: bold;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Bebas Neue Regular';
	letter-spacing: 1px;
}

.services h2 span {
	color: #ffffff;
}

.services h2 span strong {
	color: #d12f22;
}

.services h2::before {
	content: "";
	background-image: url(../img/side-line-l.png);
	width: 50px;
	height: 20px;
	position: absolute;
	margin: 5px 0 0 -75px;
}

.services h2::after {
	content: "";
	background-image: url(../img/side-line-r.png);
	width: 50px;
	height: 20px;
	position: absolute;
	margin: 5px 0 0 23px;
}

/* список кнопок */
.serv_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 68px;
}

.serv_list li {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 162px;
	height: 167px;
	background-color: #191919;
	border: 1px solid rgba(255, 255, 255, 0.12);
	margin-right: 28px;
	color: #fefefe;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.027em;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
}

.serv_list li:hover {
	background-color: #2a2a2a;
}

.serv_list li:hover span:last-child {
	background-color: #353535;
	color: #fff;
}

.serv_list li:last-child {
	margin-right: 0;
}

.serv_list li:nth-child(1) {
	background-image: url(../img/car_icon.png);
	background-position: 36px 26px;
}

.serv_list li:nth-child(2) {
	background-image: url(../img/saw_icon.png);
	background-position: 45px 19px;
	font-size: 18px;
}

.serv_list li:nth-child(3) {
	background-image: url(../img/expr_icon.png);
	background-position: 31px 43px;
}

.serv_list li:nth-child(4) {
	background-image: url(../img/diagn_icon.png);
	background-position: 49px 31px;
}

.serv_list li:nth-child(5) {
	background-image: url(../img/wrench_icon.png);
	background-position: 50px 31px;
}

.serv_list li:nth-child(6) {
	background-image: url(../img/plastic_icon.png);
	background-position: 43px 36px;
}

.serv_list li span:first-child {
	padding-bottom: 7px;
    text-align: center;	
    margin-left: 5px;
}

.serv_list li span:first-child:hover {
	text-decoration: underline;
}

.serv_list li span:last-child {
	margin: 0 auto;
	width: 160px;
	height: 25px;
	background-color: #212121;
	color: #d12f22;
	font-family: "Bender Light";
	font-size: 22px;
	line-height: 26px;
	writing-mode: vertical-lr;
	padding: 8px 0 0 70px;
	font-weight: 300;
}

.serv_list .active {
	background-color: #2a2a2a;
}

.serv_list .active span:first-child {
	text-decoration: underline;
}

.serv_list .active span:last-child {
	background-color: #353535;
	color: #fff;
}

/* список ссылок */

.serv_links {
	height: 94px;
	background-color: #353535;
	margin: 22px 15px 0 15px;
    padding-top: 15px;
}

.serv_links ul {
}

.serv_links li {
	text-align: center;
	padding-left: 16px;
}

.serv_links a {
	padding-right: 16px;
	font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 32px;
    color: #fefefe;
    letter-spacing: 0.02em;
}

.serv_links a:hover {
	text-decoration: none;
}

.serv_links li span {
	width: 22px;
	height: 22px;
	background-image: url(../img/rhombus.png);
	position: absolute;
	top: 13px;
    left: 83px;
}

/* кнопка Оставить Заявку */

.btn_request_wrap {
	padding-top: 39px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn_request {
	width: 216px;
    height: 54px;
    background-color: #d12f22;
    border-bottom: 4px solid #ac160a;
    font-size: 20px;
    line-height: 17.39px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
    text-align: center;
    padding-top: 21px;
    font-weight: bold;
    letter-spacing: 0.025em;
    cursor: pointer;
}

.btn_request:hover {
	text-decoration: underline;
}

/* we_pros */
.we_pros {
	height: 1100px;
	background-color: #eaeaea;
	
}
.we_pros h2 {
	padding-top: 45px;
	color: #050505;
	font-size: 40px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}

.we_pros > div > div > div > p {
	width: 772px;
	margin: 24px auto 32px;
	text-align: center;
	color: #050505;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: 0.026em;
}

.advs {
	background-color: #d7d7d7;
	padding-bottom: 20px;
}

.adv-img {
	border-top: 8px solid #ac160a;
	margin-top: 40px;
}

.we_pros > div > div > div > div > p {
	color: #050505;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.027em;
    padding-bottom: 20px;
}

/* request */

.request {
	color: #050505;	
}

.request h2 {
	font-size: 36px;
	font-weight: bold;
	line-height: 26px;
	margin-top: 52px;
    padding-left: 8px;
    letter-spacing: 0.02em;
}

.request a {
    width: 176px;
    height: 45px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 14.11px;
    display: inline-block;
    background-color: #d12f22;
    margin-left: 16px;
    border-bottom: 4px solid #ac160a;
    margin-top: 35px;
    margin-bottom: 37px;
    padding-top: 17px;
    padding-left: 26px;
    letter-spacing: 0.024em;
}

.request p {
	font-family: "Roboto Condensed";
    font-weight: bold;
    line-height: 22px;
    padding: 0px 0 23px 11px;
    letter-spacing: 0.0278em;
}

.request img {
	margin: 18px 0 0 6px;
}
