body {
	font-family: "Bebas Neue Regular";
}

header {
	min-height: 668px;
	background-image: url(../img/top-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
}

.top_line {
	min-height: 97px;
	max-width: 1680px;
	background-color: rgba(0, 0, 0, .86);
	margin: 0 auto;	
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.top_piece {
	min-height: 97px;
	background-image: url(../img/top_piece.png);
	background-position: top center;
	background-repeat: no-repeat;
}

/* top address */

.top_addr {
	height: 52px;
	background-image: url(../img/map_pointer.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 47px;
	line-height: 26px;
	margin-top: 24px;
}

.top_addr strong {
	color: #d12f22;
	font-size: 32px;
	font-weight: bold;
	
	display: block;
	text-transform: uppercase;
}

.top_addr a {
	color: #fff;
	font-size: 22px;
	text-decoration: underline;
}

.top_addr a:hover {
	text-decoration: none;
}

/* logo */

.logo {
	position: absolute;
	top: 15px;	
}

/* phone */

.phone {
	text-align: right;
	margin-top: 24px;
	line-height: 26px;
}

.phone_number {
	font-size: 32px;
}

.phone_number strong {
	color: #d12f22;
	font-weight: bold;
}

.phone_number span {
	color: #fff;
}

.phone a {
	font-size: 22px;
	color: #fff;
	text-decoration: underline;
}

.phone a:hover {
	text-decoration: none;
	-webkit-transition: all .75s;
	-o-transition: all .75s;
	transition: all .75s;
}

h1 {
    color: #fff;
    text-shadow: 0 2px rgba(0, 0, 0, 0.55);
    font-size: 42px;
    font-weight: bold;
    line-height: 31px;
    margin-top: 83px;
    padding-left: 5px;
}

.button_photo, .button_price {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	background-color: #d12f22;
	display: inline-block;
	border-bottom: 4px solid #ac160a;
}

.button_photo {
	line-height: 18px;
	padding: 11px 31px 6px 69px;	
	width: 240px;
	background-image: url(../img/photoCam.png);
	background-repeat: no-repeat;
	background-position: 13px 10px;
	margin-right: 21px;
}

.button_price {
	line-height: 17.39px;
	padding: 22px 30px 14px 25px;
	margin-left: -24px;
}

.button_price:hover, .button_photo:hover {
	color: #fff;
}

.top_buttons {
	position: absolute;
	width: 100%;
	bottom: 33px;
}

.small_bottom_line {
	position: absolute;
	bottom: 0px;
	height: 1px;
	width: 100%;
	background-color: rgb(255, 255, 255, .18);
}

.bot_line {
	height: 69px;
	max-width: 1680px;
	margin: 0 auto; 
	background-color: rgba(0, 0, 0, .86);
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.nav_btn {
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: 1.2px;
}