body {
	font-family: "Bebas Neue Regular";
}

header {
	min-height: 668px;
	background-image: url(../img/top-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
}

.top_line {
	min-height: 97px;
	max-width: 1680px;
	background-color: rgba(0, 0, 0, .86);
	margin: 0 auto;	
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.top_piece {
	min-height: 97px;
	background-image: url(../img/top_piece.png);
	background-position: top center;
	background-repeat: no-repeat;
}

/* top address */

.top_addr {
	height: 52px;
	background-image: url(../img/map_pointer.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 47px;
	line-height: 26px;
	margin-top: 24px;
}

.top_addr strong {
	color: #d12f22;
	font-size: 32px;
	font-weight: bold;
	
	display: block;
	text-transform: uppercase;
}

.top_addr a {
	color: #fff;
	font-size: 22px;
	text-decoration: underline;
}

.top_addr a:hover {
	text-decoration: none;
}

/* logo */

.logo {
	position: absolute;
	top: 15px;	
}

/* phone */

.phone {
	text-align: right;
	margin-top: 24px;
	line-height: 26px;
}

.phone_number {
	font-size: 32px;
}

.phone_number strong {
	color: #d12f22;
	font-weight: bold;
}

.phone_number span {
	color: #fff;
}

.phone a {
	font-size: 22px;
	color: #fff;
	text-decoration: underline;
}

.phone a:hover {
	text-decoration: none;
	-webkit-transition: all .75s;
	-o-transition: all .75s;
	transition: all .75s;
}

h1 {
    color: #fff;
    text-shadow: 0 2px rgba(0, 0, 0, 0.55);
    font-size: 42px;
    font-weight: bold;
    line-height: 31px;
    margin-top: 83px;
    padding-left: 5px;
}

.button_photo, .button_price {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	background-color: #d12f22;
	display: inline-block;
	border-bottom: 4px solid #ac160a;
}

.button_photo {
	line-height: 18px;
	padding: 11px 31px 6px 69px;	
	width: 240px;
	background-image: url(../img/cam_icon.png);
	background-repeat: no-repeat;
	background-position: 13px 10px;
	margin-right: 21px;
}

.button_price {
	line-height: 17.39px;
	padding: 22px 30px 14px 25px;
	margin-left: -24px;
}

.button_price:hover, .button_photo:hover {
	color: #fff;
}

.top_buttons {
	position: absolute;
	width: 100%;
	bottom: 33px;
}

.small_bottom_line {
	position: absolute;
	bottom: 0px;
	height: 1px;
	width: 100%;
	background-color: rgb(255, 255, 255, .18);
}

/* navigation bar */

.bot_line {
	height: 69px;
	max-width: 1680px;
	margin: 0 auto; 
	background-color: rgba(0, 0, 0, .86);
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.nav_flex {
	display: flex;
	flex-direction: row;
}

.nav_bar{
	display: flex;
	flex-direction: row;
}

.nav_bar li a {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	color: #fff;
	letter-spacing: 1.2px;
}

.nav_bar li {
	display: block;
	padding: 26px 27px 21px 50px;
	border-left: 1px solid #3b3b3b;
	background-repeat: no-repeat;
}

.nav_bar li:hover {
	background-color: #000;
	cursor: pointer;
}

.nav_bar li a:hover {
	text-decoration: none;
}

.nav_bar li:hover, .nav_bar li:hover + li {
	border-left: 1px solid #000;
}

.nav_bar li:nth-child(1) {
	background-image: url(../img/home_icon.png);
	background-position: 18px 24px;
}

.nav_bar li:nth-child(2) {
	background-image: url(../img/about_icon.png);
	background-position: 17px 26px;
	padding-left: 47px;
}

.nav_bar li:nth-child(3) {
	background-image: url(../img/prices_icon.png);
	background-position: 27px 27px;
	padding-left: 51px;
}

.nav_bar li:nth-child(4) {
	background-image: url(../img/jobs_icon.png);
	background-position: 18px 26px;
	padding-left: 51px;
}

.nav_bar li:nth-child(5) {
	background-image: url(../img/partners_icon.png);
	background-position: 22px 28px;
	padding-left: 54px;
}

.nav_bar li:nth-child(6) {
	background-image: url(../img/contacts_icon.png);
	background-position: 22px 23px;
	padding-left: 48px;
}

/* warranty */

.warranty {
	display: flex;
	flex-direction: row;
	color: #fff;
	border: 3px solid #ffffff;
	border-radius: 3px;
	margin: 12px 0 0 40px;
	width: 175px;
    height: 47px;
    cursor: default;
}

.w_left {
	font-family: "Bebas Neue Bold";
	font-size: 20px;
	font-weight: bold;
	line-height: 20.32px;	
	padding: 13px 0px 10px 5px;
}

.num_year {
	font-size: 33px;
	
}

.year {
	padding-left: 5px;
}

.w_right {
	font-family: "Roboto Condensed";
	font-size: 15px;
	line-height: 16.93px;
	text-transform: uppercase;
	padding: 5px 0 0 12px;
	display: flex;
	flex-direction: column;
}

/* services */
.services {
	/* Style for "Прямоуголь" */
	
	height: 590px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	background-color: #000000;
}