@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('BebasNeue-Regular.eot');
  src: url('BebasNeue-Regular.woff2') format('woff2'),
       url('BebasNeue-Regular.woff') format('woff'),
       url('BebasNeue-Regular.ttf') format('truetype'),
       url('BebasNeue-Regular.svg#BebasNeue-Regular') format('svg'),
       url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

